h1 {
    font-size: 2em;
    text-align: center;
}
.check-out-main {
    margin: 0 15px;
}

form {
    font-family: jaf-bernino-sans-narrow, sans-serif;
    background: linear-gradient(#437f90, #224048);
    color: #fff;
    /*display: grid;*/
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding: 30px 0;
    margin-bottom: 40px;
    border-radius: 10px;
}

textarea {
    font-family: jaf-bernino-sans-narrow, sans-serif;
}

legend {
    font-family: tablet-gothic-condensed, sans-serif;
    font-size: 1.6em;
}

.check-out-main label {
    text-transform: uppercase;
    margin: 0 0 2px 2px;
    font-size: 0.8em;
}

.check-out-main input,
.contact-main textarea {
    margin-bottom: 10px;
    border: 0.8px solid #1f3740;
    background-color: #e6e6e6;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 7px;
}

fieldset {
    border: 0 none;
    max-width: 280px;
    margin: 0 auto;
}

.fill-area,
.fill-area__small {
    display: grid;
}

.fill-area__double {
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
}

.fill-area__logo {
    grid-template-columns: 1fr auto;
    align-items: center;
}

.fill-area__logo i {
    font-size: 3.5em;
}

#zip-code,
#cvv,
#expire-date {
    width: 50%;
}

#card-number {
    width: 98%;
}

.summary {
    max-width: 80%;
}

.summary h3,
.total-to-pay {
    color: #1f3740;
}

.summary h3 {
    font-size: 1.6em;
}

.total-price,
.total-to-pay,
.delivery-cost {
    font-size: 0.8em;
}

.buttons-cart input {
    background: #1f3740;
    border-radius: 15px;
    padding: 12px 25px;
    text-align: center;
    width: 180px;
    padding: 11.5px 10px;
}

/*Contact us - page */
.buttons-cart .cta-send {
    background-color: #437f90;
    border: none;
    align-self: flex-start;
}

.buttons-cart .cta-send:hover {
    background: #fff;
    color: #437f90;
    border: 1.5px solid #437f90;
}
