body {
    font-family: "jaf-bernino-sans-narrow";
    font-weight: 400;
    background-color: #b6d2da;
    color: #1f3740;
    margin: 0px;
}

h2 {
    font-family: "tablet-gothic-condensed";
    font-weight: 800;
    font-size: 3em;
}

h3 {
    font-family: "tablet-gothic-condensed";
    font-weight: 700;
    font-size: 2em;
    color: #1f3740;
}

header {
    font-family: "tablet-gothic-condensed";
    font-weight: 700;
    font-size: 1.75em;
    color: #fff;
    background-color: #1f3740;
    padding-bottom: 5px;
    position: relative;
}

.logo {
    max-width: 190px;
    margin: 10px 50px;
}

.header-top {
    background-color: #fff;
}

.search {
    position: absolute;
    top: 45px;
    right: 50px;
    color: #1f3740;
    display: flex;
}

.search i {
    background-color:#f2b05e ;
    padding-bottom: 9px;
    padding-left: 3px;
    padding-top: 2px;
    border-radius: 7px 0 0 7px;
    border: 0.15rem solid #f2b05e ;
    height: 28px;
    font-size: 1.2em;
}

.search input {
    padding: 4px 6px;
    border-radius: 0 7px 7px 0;
    border: 0.19rem solid #f2b05e;
    width: 250px;
    height: 28px;
}

nav {
    background-color: #1f3740;
    margin-left: 50px;
    display: inline-block;
}

nav a {
    color: #fff;
    margin: 10px 70px 10px 0;
}

/*tablet menu */

#menu-checkbox,
.hamburger-icon {
    display: none;
}
/*nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

.hamburger-icon {
    margin-left: 50px;
    font-size: 1.1em;
}*/

/*______________________________________________________________*/

.nav-icons {
    color: #fff;
    display: inline-block;
    position: absolute;
    right: 50px;
}

footer ul {
    padding: 0;
    margin: 0;
}

.nav-icons i {
    margin-left: 35px;
}

.cta {
    font-family: "jaf-bernino-sans-condensed";
    font-weight: 700;
    font-variant: small-caps;
    font-size: 1.75em;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    padding: 9px 25px;
    box-shadow: 3px 3px 3px #0000007e;
}

footer {
    background-color: #e6e6e6;
    padding: 50px 50px 50px 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer .logo {
    margin-left: 0;
}
footer li a {
    font-family: "tablet-gothic-narrow";
    font-weight: 600;
    font-style: italic;
    color: #437f90;
    font-size: 1.2em;
    text-decoration: none;
}

.cta-footer {
    display: block;
    max-width: 130px;
    text-align: center;
    background-color: #437f90;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

footer li {
    list-style: none;
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
}

footer i {
    font-size: 3em;
    margin-right: 10px;
}

footer section {
    margin-bottom: 30px;
}

footer h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.line-break {
    display: block;
}

/* Home Styles*/

.cta-home {
    display: block;
    width: 195px;
    color: #1f3740;
    background-color: #fff;
    border-radius: 15px;
    border: 0.195rem solid #1f3740;
    margin: 10px auto;
}

/* Home - Campaign Rain, Campaign Adventure, Super Deal*/

.campaign {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.campaign__rain {
    position: relative;
    background-image: url("../images/home/home\ -\ 1\ -\ taneli-lahtinen-e57Hpo-Qek4-unsplash.jpg");
    background-position-x: left;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 500px;
}

.campaign__adventure {
    position: relative;
    background-image: url("../images/home/home-2-ladyinsunset.jpg");
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 500px;
}

.campaign__adventure h2,
.campaign__adventure h3,
.campaign__rain h2,
.campaign__rain h3 {
    line-height: 110%;
    margin: 20px 50px;
}

.campaign__adventure h2,
.campaign__adventure h3 {
    text-align: right;
}

.campaign__rain h3 {
    margin-bottom: 55px;
}

.cta-campaign {
    position: absolute;
    top: 370px;
    right: 10%;
    left: 10%;
}

.cta-campaign .cta-home {
    max-width: 130px;
}

.super-deal {
    background-color: #f2b05e;
    border: 1px;
    border-color: #f2b05e;
    box-shadow: 3px 3px 3px #0000007e;
    padding: 20px;
    grid-column: 1/3;
}

.super-deal_link {
    color: #1f3740;
}

.super-deal_link h2 {
    margin: 0;
    text-align: center;
    color: #1f3740;
    padding: 15px 0;
}

/* Home - Waterproof, Insulated and Gift-shop-sections */

.waterproof,
.gift-shop {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 40px 0;
    position: relative;
}

.insulated {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin: 40px 0;
    position: relative;
    width: 100%;
}

.waterproof__image, /*container for images*/
.insulated__image,
.gift-shop__image {
    width: 100%;
}

.insulated__image {
    grid-column: 2;
}

.waterproof img, /*images*/
.insulated img,
.gift-shop img {
    width: 100%;
}

.waterproof__content, /*container for a <div> with info and cta */
.gift-shop__content {
    grid-column: 2;
    text-align: center;
    position: absolute;
    top: 0;
    left: 1%;
    right: 1%;
    margin: 0 10px;
}

.insulated__content {
    grid-column: 1/1;
    max-width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 1%;
    right; 1%;
    margin: 0 10px;
}

.waterproof__content h2,
.insulated__content h2,
.gift-shop__content h2 {
    margin: 5px 0 0 0px;
    line-height: 110%;
}

.waterproof__content .line-break {
    display: inline;
}

/*.waterproof__content h3,
.insulated__content h3,
.gift-shop__content h3 {
    margin: 0;
}*/

.cta-waterproof,
.cta-gift-shop {
    grid-column: 2;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 50%;
    text-align: center;
}

.cta-insulated {
    grid-column: 1/1;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    text-align: center;
}

.cta-waterproof h3,
.cta-insulated h3,
.cta-gift-shop h3 {
    margin: 0;
}

.waterproof__content .line-break,
.insulated__content .line-break {
    display: inline;
}



.footer-links {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-links section {
    display: flex;
    flex-direction: column;
}