

@media (min-width:317px) {

    /*PRODUCT-LIST*/
    .product-list-page {
        max-width: 400px;
    }
    .product-list {
        grid-template-columns: 1fr 1fr;
        grid-gap: 8px;
        margin: auto;
        margin-bottom: 20px;
    }

    .cta-small {
        width: 60px;
    }
}

@media (min-width: 351px){
    body {
        max-width: 412px;
    }
    /*HOME*/
    .cta-waterproof,
    .cta-insulated,
    .cta-gift-shop {
        position: absolute;
        top:50%;
        left: 10%;
        right: 10%;
    }

    .cta-gift-shop h3 {
        display: none;
    }
}

@media (min-width: 413px) {
    body {
        max-width: 600px;
    }

    /*Home*/
    .waterproof,
    .insulated,
    .gift-shop {
            width: 85%;    
    }
    
    .cta-waterproof,
    .cta-insulated,
    .cta-gift-shop {
        position: absolute;
        top:50%;
        left: 10%;
        right: 10%;
    }

    .cta-home {
        padding: 10px 24px;
        font-size: 1.5em;
        border-radius: 15px;
    }

    .cta-long {
        padding: 10px 30px;
    }

    .waterproof__content h2,
    .insulated__content h2,
    .gift-shop__content h2 {
        font-size: 2.4em;
    }

    .waterproof__content span,
    .insulated__content span,
    .gift-shop__content span {
        display: inline-block;
    }

    /*Footer*/
    footer {
        grid-template-columns: 1fr 1fr;
    }

    .footer-links {
        margin-top: 10px;
    }

    .footer-links section {
        margin-left: 10px;
    }

    /*PRODUCT-LIST*/
    .cta-small {
        width: 90px;
    }
}

/*________________Tablet - Styles_____________________________________*/
@media (min-width: 601px) {

    body {
        max-width: 819px;
    }

    /* Header-styles */
    nav {
        display: block;
        position: absolute;
        background: #1f3740;
    }

    .hamburger-icon {
        display: none;
    }

    nav a {
        display: inline-block;
        padding: 5px 15px 5px 25px;
    }

    .logo-white {
        display: none;
    }

    .logo-blue {
        display: inline-block;
    }

    .logo-blue img {
        margin: 20px 25px;
    }

    .header-one {
        background: #fff;
        height: 140px;
    }

    .search__mobile {
        display: none;
    }

    .search__desktop {
        display: inline-block;
        position: absolute;
        top: 60px;
        right: 25px;
        color: #1f3740;
    }

    .search__desktop i {
        background-color: #f2b05e;
        padding-bottom: 5px;
        padding-left: 3px;
        padding-top: 3px;
        border-radius: 9px 0 0 9px;
        border: 0.17rem solid #f2b05e;
        height: 28px;
        font-size: 2em;
    }

    .search__desktop label {
        position: absolute;
        left: -38px;
    }

    .search__desktop input {
        padding: 4px 6px;
        border-radius: 0 9px 9px 0;
        border: 0.17rem solid #f2b05e;
        width: 250px;
        height: 28px;
        font-family: "jaf-bernino-sans-narrow";
        font-weight: 400;
        font-size: 1.1em;
        color: #1f3740;
    }

    /* Home - WATERPROOF, INSULATED, GIFT-SHOP - Styles */
    .waterproof,
    .insulated,
    .gift-shop {
            width: 70%;    
    }

    .waterproof__content h2,
    .insulated__content h2,
    .gift-shop__content h2 {
        font-size: 3.4em;
        line-height: 115%;
    }

    .waterproof__content span,
    .insulated__content span {
        display: inline;
    }

    .cta-waterproof,
    .cta-insulated,
    .cta-gift-shop {
        position: absolute;
        top:55%;
    }

    /* Footer - Styles */
    footer {
        padding: 50px 50px 50px 100px;
    }

    /*PRODUCTS-LIST*/
    .product-list-page {
        max-width: 819px;
    }
    .product-list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 0 20px 40px 20px;
    }

    .cta-small {
        width: 80px;
    }
}

/*_________________ DESKTOP-STYLE _______________________*/

@media (min-width: 820px) {
    body {
        max-width: 1300px;
    }

     /* HOME - CAMPAIGN - Styles */
    .campaign {
        grid-template-columns: 1fr 1fr;
    }

    .super-deal {
        grid-column: 1/3;
    }

    /* HOME - WATERPROOF, INSULATED, GIFT-SHOP - Styles */
    .waterproof,
    .insulated,
    .gift-shop {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    .waterproof__image-small,
    .waterproof-image,
    .gift-shop__image-small,
    .gift-shop__image,
    .insulated__content,
    .cta-insulated {
        grid-column: 1;
        grid-row: 1;
        position: relative;
    }

    .waterproof__content,
    .gift-shop__content,
    .cta-waterproof,
    .cta-gift-shop,
    .insulated__image,
    .insulated__image-small {
        grid-column: 2;
        grid-row: 1;
    }

    .cta-insulated {
        width: 341px;
        height: 192px;
        margin: 10px;
        left: 7%;
    } 

    .waterproof__content h2,
    .insulated__content h2, 
    .gift-shop__content h2 {
        font-size: 3em;
    }

    .cta-gift-shop h3 {
        display: block;
    }

    /* Footer */
    footer {
        grid-template-columns: auto auto;
        padding-left: 50px;
    }
    .footer-links {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: 30px;
    }

    .follow-icons div{
        display: flex;
        flex-direction: column;

    }
}

@media (min-width: 931px) {
    .waterproof__content,
    .insulated__content,
    .gift-shop__content {
        margin: 30px;
    }


@media (min-width:951px) {
    .waterproof__content h2,
    .insulated__content h2, 
    .gift-shop__content h2 {
        font-size: 3.4em;
    }

    .cta-insulated {
        left: 12%;
    }
}

@media (min-width:1101px) {
    /* Home */
    .waterproof__content h2,
    .insulated__content h2, 
    .gift-shop__content h2 {
        font-size: 4em;
    }
    
    .cta-insulated {
        left: 18%;
    }

    /*PRODUCT-LIST*/
    .product-list-page {
        max-width: 1200px;
    }
    .product-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width:1301px) {
    body {
        max-width: 1500px;
    }
    /* Header- styles */
    nav a {
        padding-right: 50px;
    }

    .nav-icons i {
        padding-left: 30px;
    }

    /* Home */
    .small-image,
    .waterproof__image-small,
    .insulated__image-small,
    .gift-shop__image-small {
        display: none;
        }

    .waterproof-image,
    .insulated__image,
    .gift-shop__image {
        width: 100%;
    }

    .large-image {
        display: block;
        width: 100%;
    }

    .waterproof,  
    .giftshop {
        grid-template-columns: 1.3fr 1fr; 
    }

    .insulated {
        grid-template-columns: 1fr 1.3fr;
    }

    /* Footer */
    footer {
        padding-left: 100px;
    }
}
   
@media (min-width:1501px){
    body {
        max-width: 100%;
    }

    /* Home */
    .campaign__rain h2,
    .campaign__adventure h2 {
        font-size:3em;
    }

    .waterproof,
    .insulated,
    .gift-shop {
        width: 80%;
    }

    .cta-waterproof,
    .cta-insulated,
    .cta-gift-shop {
        top:60%;
    }

    /* Footer */
    footer {
        padding-left: 200px;
    } 
}
