

/* mobile-STLES (min-width 200px and max-width 607px) */

/*Global styles */
    body {
        font-family: "jaf-bernino-sans-narrow";
        font-weight: 400;
        background-color: #b6d2da;
        color: #1f3740;
        margin: 0px;
        max-width: 607px;
    }

    h2 {
        font-family: "tablet-gothic-condensed";
        font-weight: 800;
    }

    h3 {
        font-family: "tablet-gothic-condensed";
        font-weight: 700;
        color: #1f3740;
    }

    header {
        font-family: "tablet-gothic-condensed";
        font-weight: 700;
        color: #fff;
        background-color: #1f3740;
        padding-bottom: 5px;
        position: relative;
    }
    .header-top {
        background-color: #fff;
    }
    .logo {
        max-width: 190px;
        margin: 10px 50px;
    }
    .search {
        position: sticky;
        top: 10px;
        right: 50px;
        color: #1f3740;
        margin-right:10px;
    }

    nav {
        background-color: #1f3740;
        margin-left: 0;
        display: inline-block;
    }
    
    nav a {
        color: #fff;
        margin: 10px 70px 10px 0;
    }

    .nav-icons {
        color: #fff;
        display: inline-block;
        position: absolute;
        right: 50px;
    }

    .nav-icons i {
        margin-left: 35px;
    }

    .cta {
        font-family: "jaf-bernino-sans-condensed";
        font-weight: 700;
        font-variant: small-caps;
        text-align: center;
        color: #fff;
        box-shadow: 3px 3px 3px #0000007e;
    }

    footer {
        background-color: #e6e6e6;
        /*padding: 50px 50px 50px 70px;*/
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer .logo {
        margin-left: 0;
    }

    footer ul {
        padding: 0;
        margin: 0;
    }
    footer li a {
        font-family: "tablet-gothic-narrow";
        font-weight: 600;
        font-style: italic;
        color: #437f90;
        text-decoration: none;
    }
    
    .cta-footer {
        display: block;
        max-width: 130px;
        text-align: center;
        background-color: #437f90;
        border-radius: 10px;
    }
    
    a {
        text-decoration: none;
    }
    
    footer li {
        list-style: none;
    }
    
    .footer-links {
        display: grid;
    }
    
    footer i {
        margin-right: 10px;
    }
    
    footer section {
        margin-bottom: 30px;
    }
    
    footer h3 {
        margin-bottom: 0;
        margin-top: 0;
    }

    

/* mobile-styles */ 
@media only screen and (max-width: 607px){
    
    h2 {
        font-size: 2.5em;
    }
    
    h3 {
        font-size: 1.8em;
    }
    
    header {
        font-size: 1.5em;
        height: 120px
    }

    .header-top_blue {
        position: absolute;
        top: 20px;
        left: 25%;
    }

    .logo {
        max-width: 140px;
        margin: 10px 0 3px 0;
    }
    
    .header-top img,
    .header-top a {
        display: none;
    }
    
    .search {
        position: absolute;
        top: 75px;
        right: 75%;
        color: #1f3740;
    }

    .search input {
        display: none;
    }

    .search i {
        color: #fff;
        font-size: 1.1em;
    }

    .nav-icons {
        right: 15px;
        top: 75px;
    }
    
    .nav-icons i {
        margin-left: 8px;
        font-size: 1em;
    }

    /* HAMBURGER */

    nav,
    #menu-checkbox {
        display: none;
    }
    
    #menu-checkbox:checked ~ nav {
        display: block;
    }
    
    .hamburger-container {
        position: relative;
    }

    .hamburger-icon {
        margin-left: 10px;
        font-size: 1.3em; 
        position: absolute;
        top: 69px;
    }
    
    .cta {
        font-size: 1.6em;
        margin-top: 10px;
        padding: 7px 20px;
    }
    
    .footer {
        padding: 0;
        margin: 10px;
    }

    footer .logo {
        margin-left: 0;
    }

    footer h3 {
        font-size:1.3em;
    }

    footer li a {
        font-size: 1.2em;
    }
    
    .footer-links {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);

    }
    
    footer i {
        font-size: 3em;
    }

    .follow-icons {
        display: flex;
        flex-direction: column;
    }
    
    footer section {
        margin: 10px 10px;
    }

    h2 span,
    h3 span {
        display: block;
    }
        
    /* Home Styles*/
    
    .cta-home {
        display: block;
        width: 195px;
        color: #1f3740;
        background-color: #fff;
        border-radius: 15px;
        border: 0.195rem solid #1f3740;
        margin: 10px auto;
    }
    
    /* Home - Campaign Rain, Campaign Adventure, Super Deal*/
    
    .campaign {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .campaign__rain {
        position: relative;
        background-image: url("../images/home/home-1-taneli-lahtinen-e57Hpo-Qek4-unsplash.jpg");
        background-position-x:center;
        background-position-y: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%;
        height: 500px;
    }
    
    .campaign__adventure {
        position: relative;
        background-image: url("../images/home/home-2-ladyinsunset.jpg");
        background-position-x: center;
        background-position-y: top;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%;
        height: 500px;
    }
    
    .campaign__adventure h2,
    .campaign__adventure h3,
    .campaign__rain h2,
    .campaign__rain h3 {
        line-height: 110%;
        margin: 20px 50px;
    }
    
    .campaign__adventure h2,
    .campaign__adventure h3 {
        text-align: right;
    }
    
    .campaign__rain h3 {
        margin-bottom: 55px;
    }
    
    .cta-campaign {
        position: absolute;
        top: 370px;
        right: 10%;
        left: 10%;
    }
    
    .cta-campaign .cta-home {
        max-width: 130px;
    }
    
    .super-deal {
        background-color: #f2b05e;
        border: 1px;
        border-color: #f2b05e;
        box-shadow: 3px 3px 3px #0000007e;
        padding: 20px;
    }
    
    .super-deal_link {
        color: #1f3740;
    }
    
    .super-deal_link h2 {
        margin: 0;
        text-align: center;
        color: #1f3740;
        padding: 15px 0;
    }
    
    /* Home - Waterproof, Insulated and Gift-shop-sections */
    
    .waterproof,
    .gift-shop,
    .insulated {
        display: flex;
        margin: 40px 0;
        flex-direction: column;
        position: relative;
    }
    
    .waterproof__image, /*container for images*/
    .insulated__image,
    .gift-shop__image {
        flex: 3;
        width: 98%;
        margin: 0 auto 130px auto;
        
    }
    
    .waterproof img, /*images*/
    .insulated img,
    .gift-shop img {
        width: 98%;
    }
    
    .waterproof__content, /*container for a <div> with info and cta */
    .insulated__content,
    .gift-shop__content {
        margin: 0 5%;
        position: absolute;
        margin-left: 3px;

    }
    
    .waterproof__content h2,
    .insulated__content h2,
    .gift-shop__content h2 {
        margin: 5px 0 0 10px;
        line-height: 110%;
        font-size: 2em;
    }
    
    .waterproof h3,
    .insulated h3,
    .gift-shop h3 {
        display: none;
    }
    
    .cta-waterproof,
    .cta-insulated,
    .cta-gift-shop {
        position: absolute;
        left: 10%;
        right: 10%;
        top: 65%;
        display: block;
    }
    
   

/*desktop-one-styles */
@media only screen and (min-width: 1064px) and (max-width: 1500px){
}



    

/* desktop-two-styles */
@media only screen and (min-width:1501px) {
}