body {
    font-family: "jaf-bernino-sans-narrow";
    font-weight: 400;
    background-color: #b6d2da;
    color: #1f3740;
    margin: 0px;
}

h2 {
    font-family: "tablet-gothic-condensed";
    font-weight: 800;
    font-size: 2.7em;
}

header,
h3 {
    font-family: "tablet-gothic-condensed";
    font-weight: 700;
    font-size: 1.8em;
}

header {
    font-size: 1.75em;
}

.logo {
    max-width: 190px;
}

.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.nav-top {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: #fff;
}

.nav-top > * {
    margin: 10px 50px;
}

nav a,
nav i {
    color: #fff;
}

nav {
    background-color: #1f3740;
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0;
    padding: 4px 50px 7px 50px;
    align-items: center;
}

nav ul,
footer ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 70px;
}

nav i {
    margin-left: 40px;
}

.cta {
    font-family: "jaf-bernino-sans-condensed";
    font-weight: 700;
    font-variant: small-caps;
    font-size: 1.75em;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    padding: 4px 25px;
    box-shadow: 3px 3px 3px #0000007e;
}

footer {
    background-color: #e6e6e6;
    padding: 50px 50px 50px 70px;
    display: flex;
}

footer > * {
    flex: 1;
}

footer li a {
    font-family: "tablet-gothic-narrow";
    font-weight: 600;
    font-style: italic;
    color: #437f90;
    font-size: 1.2em;
    text-decoration: none;
}

.cta-footer {
    display: block;
    max-width: 130px;
    text-align: center;
    background-color: #437f90;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

footer ul {
    margin-bottom: 30px;
}
footer li {
    list-style: none;
}

.footer-links {
    display: flex;
}

.footer-links > * {
    flex: 1;
    flex-direction: column;
}

footer i {
    font-size: 3em;
    margin-right: 10px;
}

footer h3 {
    margin-bottom: 0;
    margin-top: 0;
}

h2 span,
h3 span {
    display: block;
}

/*.current {color: #f2b05e;}*/

/* Home Styles*/

.cta-home {
    display: block;
    max-width: 195px;
    color: #1f3740;
    background-color: #fff;
    border-radius: 10px;
    border: 0.195rem solid #1f3740;
    margin: 10px auto;
}

/* Home - Campaign Rain, Campaign Adventure, Super Deal*/

.campaign {
    display: grid;
    grid-template-columns: 1fr;
}

.campaign__rain {
    position: relative;
    background-image: url("../images/home/home\ -\ 1\ -\ taneli-lahtinen-e57Hpo-Qek4-unsplash.jpg");
    background-position-x: left;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 500px;
}

.campaign__adventure {
    position: relative;
    background-image: url("../images/home/home-2-ladyinsunset.jpg");
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 500px;
}

.campaign__adventure h2,
.campaign__adventure h3,
.campaign__rain h2,
.campaign__rain h3 {
    line-height: 110%;
    margin: 20px 50px;
}

.campaign__adventure h2,
.campaign__adventure h3 {
    text-align: right;
}

.campaign__rain h3 {
    margin-bottom: 55px;
}

.cta-campaign {
    position: absolute;
    top: 370px;
    right: 10%;
    left: 10%;
}

.cta-campaign .cta-home {
    max-width: 130px;
}

.super-deal {
    background-color: #f2b05e;
    border: 1px;
    border-color: #f2b05e;
    box-shadow: 3px 3px 3px #0000007e;
    padding: 20px;
}

.super-deal_link {
    color: #1f3740;
}

.super-deal_link h2 {
    margin: 0;
    text-align: center;
    color: #1f3740;
    padding: 15px 0;
}

/* Home - Waterproof, Insulated and Gift-shop-sections */

.waterproof,
.gift-shop,
.insulated {
    display: flex;
    max-width: 100%;
    margin: 40px 0;
    flex-direction: column;
    position: relative;
}

.waterproof__image, /*container for images*/
.insulated__image,
.gift-shop__image {
    flex: 3;
    width: 90%;
    margin: 0 auto;
}

.waterproof img, /*images*/
.insulated img,
.gift-shop img {
    width: 100%;
}

.waterproof__content, /*container for a <div> with info and cta */
.insulated__content,
.gift-shop__content {
    flex: 2; /*has no effect here*/
    margin: 0 5%;
    display: flex;
    position: absolute;
    width: 90%;
}

.waterproof__content div,
.insulated__content div,
.gift-shop__content div {
    width: 100%;
    margin: 0 auto;
}

.waterproof__content h2,
.insulated__content h2,
.gift-shop__content h2 {
    margin: 5px 0 0 10px;
    line-height: 110%;
    font-size: 2.5em;
}

.waterproof__content h3,
.insulated__content h3,
.gift-shop__content h3 {
    margin: 0 0 0 10px;
}
